.hero-unit {
  background-color: $blue;
  border-top: solid 10px darken($medium-blue, 10%);
  border-bottom: solid 1px darken($medium-blue, 10%);

  @include media($medium-screen) {
    border-bottom: solid 10px darken($medium-blue, 10%);
    border-top: none;
    margin-bottom: 40px;

    .hero-unit-inner {
      padding: 3em;

      .title {
        font-size: 400%;
        margin: auto;
      }

      .tagline {
        font-size: 150%;
        text-align: center;
      }
    }
  }


  .hero-unit-inner {
    @include outer-container;
    @include clearfix;

    padding: 1em;
    margin: auto;
    text-align: center;

    a, a:active, a:visited {
      color: $medium-blue;
    }

    .title {
      font-family: Georgia,"Times New Roman",Times,serif;
      margin: 0.5em auto;
      font-size: 300%;
      color: $medium-blue;
    }

    .tagline {
      font-weight: 100;
      font-family: sans-serif;
      text-align: justify;
    }
  }
}
