.post {
  @include span-columns(6);
  @include shift(3);

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    padding: $padding;
  }


  h1 {
    padding-bottom: $padding * 2;
    border-bottom: 1px solid $very-light-grey;
    text-align: center;
  }

  .post-controls {
    margin: $padding * 2 auto;
    background: $blue;
    border-color: $dark-blue;
    @include outer-container;
    .control {
      @include span-columns(4);
      text-align: center;

      @include media($mobile) {
        width: 100%;
        display: block;
        margin: $padding auto;
        .btn {
          display: block;
          float: none !important;
        }
      }

      &:last-child {
        .btn { float: right; }
      }
    }

    .control-label {
      font-size: 14px;
    }
  }
}
