.title {
  font-size: 400%;
  font-family: serif;
}

.subtle-title {
  color: lighten($grey, 25%);
  text-align: center;
  font-weight: 200;
  font-family: sans-serif;
}

.accented-title {
  font-style: italic;
  text-align: center;
}
