* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 200%; }

body {
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

p {
  line-height: 1.25; }

.post {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%; }
  .post:last-child {
    margin-right: 0; }
  .post h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    text-align: center; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
