@import 'spinner';

.loading-container {
  margin-top: 25%;

  
  .loading-indicator {
    @include spinner();
    margin-bottom: 10px;
  }

  h1 {
    text-align: center;
    font-family: sans-serif;
    color: #999;
  }
}
