// Colours
$very-light-grey: #DDD;
$very-dark-grey: #222;
$off-white: #f7f7f7;
$blue: #cee3f8;
$dark-blue: #5f99cf;
$medium-blue: darken($blue, 50%);
$grey: #666;
$light_grey: #999;
$red: red;

//Layout/spacing
$padding: 10px;
$base-border-radius: 4px;

// Breakpoints
$mobile: new-breakpoint(max-width 650px 4);
