<section class="about">
  <h1 class="title">Reddit<em>T</em></h1>
  <p>
    The easy-reading mode for long posts on Reddit.
  </p>

  <h3>Usage</h3>
  <p>
    Go to <strong><a href="http://reddit.com">reddit.com</a></strong><br />
    <strong>Find a post</strong> you're interested in, go ahead and <strong>click on it.</strong><br />
    Change the 'domain' part of the address from: <strong>reddit.com</strong> to <strong>reddit-t.com</strong><br />
    Enjoy!
  </p>
</section>