<section class="hero-unit hero-unit-full-width">
  <section class="hero-unit-inner">
    <h1 class="title">Reddit T</h1>

    <p class="tagline">
      Reddit-T is a convenient service for reading posts on <a href="http://reddit.com">Reddit</a>
      with a focus on clean design and typography optimized for hours of enjoyment.
    </p>
  </section>
</section>

<section id="how-to-use" class="container">
  <h2 class="subtle-title accented-title">Reddit-T accepts just about any Reddit URL...</h2>

  <ul class="accordion-tabs-minimal">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link is-active">Subreddit</a>
      <div class="tab-content is-open">
        <div class="address-box">
          <span class="reddit-address">http://reddit.com</span>/r/talesfromretail
        </div>

        <h3 class="subtle-title">becomes:</h3>

        <div class="address-box">
          <span class="reddit-t-address">http://reddit-t.com</span>/r/talesfromretail
        </div>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Post</a>
      <div class="tab-content">
        <div class="address-box">
          <span class="reddit-address">http://reddit.com</span>/r/TalesFromRetail/comments/2fhck7/you_sold_me_a_bad_nickelback_cd/
        </div>

        <h3 class="subtle-title">becomes:</h3>

        <div class="address-box">
          <span class="reddit-t-address">http://reddit-t.com</span>/r/TalesFromRetail/comments/2fhck7/you_sold_me_a_bad_nickelback_cd/
        </div>
      </div>
    </li>
  </ul>


</section>

