<section class="about">
  <h1 class="title">Reddit<em>T</em></h1>
  <p>
    The easy-reading mode for long posts on Reddit.
  </p>

  <h3>Usage:</h3>
  <p>
    <ol>
    <li>Go to <strong><a href="http://reddit.com">reddit.com</a></strong></li>
    <li><strong>Find a post</strong> you're interested in, go ahead and <strong>click on it.</strong></li>
    <li>Change the 'domain' part of the address from: <strong>reddit.com</strong> to <strong>reddit-t.com</strong></li>
    <li>Enjoy!</li>
    </ol>
  </p>

  <h3>Examples:</h3>
  <p>
    <ul>
      <li><a href="http://reddit-t.com/r/talesfromretail">/r/talesfromretail</a></li>
      <li><a href="http://reddit-t.com/r/talesfromtechsupport/comments/203qxp/securityis_it_a_thing/">The beginning of Airz23's saga</a></li>
    </ul>
  </p>
</section>